<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">

<body>
    <section layout:fragment="content">
        <div>
            <form action="#" th:action="@{/login}" th:object="${credentials}" method="post" class="row">
                <div>
                    <label for="username" class="col-sm-2 col-form-label">Hello, my name is</label>
                </div>
                <div class="col-auto">
                    <input id="username" th:field="*{username}" type="text" placeholder="Username" class="form-control">
                </div>
                <div class="col-auto">
                    <input type="submit" value="Login" class="btn btn-primary mb-3">
                </div>
            </form>
        </div>
    </section>
</body>

</html>